parameters:
  checkMissingIterableValueType: false
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    # The DependencyInjection returns are very complex to deal with
    -
      message: '#.*NodeParentInterface\|null.*#'
      path: ./src/DependencyInjection
