parameters:
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    # The DependencyInjection returns are very complex to deal with
    -
      message: '#.*NodeParentInterface\|null|Cannot call method .*\(\) on mixed*#'
      path: ./src/DependencyInjection
    - identifier: missingType.iterableValue
